{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if selected_category %}{{ selected_category.name }} - Accessories{% else %}All Accessories{% endif %} - Harrier Car
Store
{% endblock %}

{% block content %}
<div class="page-heading">
  <div class="page-title">
    <h2>
      {% if selected_category %}
      {{ selected_category.name|upper }} ACCESSORIES
      {% else %}
      ALL ACCESSORIES
      {% endif %}
    </h2>
  </div>
</div>

<style>
  /* Fix for grid layout gaps caused by uneven heights */
  @media (min-width: 992px) {
    .products-grid>.item:nth-child(3n+1) {
      clear: left;
    }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .products-grid>.item:nth-child(3n+1) {
      clear: left;
    }
  }

  @media (max-width: 767px) {
    .products-grid>.item:nth-child(2n+1) {
      clear: left;
    }
  }
</style>

<section class="main-container col2-left-layout bounceInUp animated">
  <div class="container">
    <div class="row">
      <div class="col-main col-sm-9 col-sm-push-3 product-grid">
        <div class="pro-coloumn">
          <article class="col-main">
            <div class="toolbar">
              <div class="sorter">
                <div class="view-mode">
                  <span title="Grid" class="button button-active button-grid">&nbsp;</span>
                  <a href="{% url 'list1' %}{% if selected_category %}/category/{{ selected_category.id }}/{% endif %}"
                    title="List" class="button-list">&nbsp;</a>
                </div>
              </div>
            </div>
            <div class="category-products">
              <ul class="products-grid">
                {% for item in accessories %}
                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info">
                        <a href="{% url 'accessory_detail' item.id %}" class="product-image">
                          {% if item.image %}
                          <img src="{{ item.image.url }}" alt="{{ item.title }}">
                          {% else %}
                          <img src="{% static 'images/no-image.jpg' %}" alt="No Image">
                          {% endif %}
                        </a>
                        {% if item.old_price %}
                        <div class="sale-label sale-top-left">Sale</div>
                        {% endif %}
                        <div class="item-box-hover">
                          <div class="box-inner">
                            <div class="add_cart">
                              <button class="button btn-cart" type="button" title="Add to Cart"
                                onclick="window.location='{% url 'add_to_cart' item.id %}'"></button>
                            </div>
                            <div class="product-detail-bnt"><a href="{% url 'accessory_detail' item.id %}"
                                class="button detail-bnt"><span>Quick View</span></a></div>
                            <div class="actions"><span class="add-to-links"><a
                                  href="{% url 'toggle_wishlist_accessory' item.id %}" class="link-wishlist"
                                  title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                          <a href="{% url 'accessory_detail' item.id %}" title="{{ item.title }}">{{ item.title }}</a>
                        </div>
                        <div class="item-content">
                          <div class="item-price">
                            <div class="price-box">
                              <span class="regular-price"><span class="price">${{ item.price }}</span></span>
                              {% if item.old_price %}
                              <p class="old-price">
                                <span class="price-label">Regular Price:</span>
                                <span class="price">${{ item.old_price }}</span>
                              </p>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                {% empty %}
                <div class="col-xs-12">
                  <p class="text-center" style="padding: 50px 0;">No accessories found in this category.</p>
                </div>
                {% endfor %}
              </ul>
            </div>
          </article>
        </div>
      </div>

      {% include 'includes/_sidebar.html' %}
    </div>
  </div>
</section>
{% endblock %}