{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content" style="padding-top: 80px; clear: both;">
    <div class="container-fluid">

        <div class="row">
            <!-- Slider -->
            <div class="home-slider5">
                <div id="thmg-slideshow" class="thmg-slideshow">
                    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                        <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                            <ul>
                                <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                                    data-thumb="{% static 'images/slide-img1.jpg' %}"><img
                                        src="{% static 'images/slide-img1.jpg' %}" data-bgfit='cover'
                                        data-bgrepeat='no-repeat' alt="banner" />
                                    <div class="container">
                                        <div class="content_slideshow">
                                            <div class="row">
                                                <div>
                                                    <div class="info">
                                                        <div class='tp-caption ExtraLargeTitle sft  tp-resizeme '
                                                            data-endspeed='500' data-speed='500' data-start='1100'
                                                            data-easing='Linear.easeNone' data-splitin='none'
                                                            data-splitout='none' data-elementdelay='0.1'
                                                            data-endelementdelay='0.1'
                                                            style='z-index:2; white-space:nowrap;'><span>Top Brands
                                                                2019</span> </div>
                                                        <div class='tp-caption LargeTitle sfl  tp-resizeme '
                                                            data-endspeed='500' data-speed='500' data-start='1300'
                                                            data-easing='Linear.easeNone' data-splitin='none'
                                                            data-splitout='none' data-elementdelay='0.1'
                                                            data-endelementdelay='0.1'
                                                            style='z-index:3; white-space:nowrap;'>
                                                            <span
                                                                style="font-weight:normal; display:block">Modern-classic</span>
                                                            incredible
                                                        </div>
                                                        <div class='tp-caption Title sft  tp-resizeme '
                                                            data-endspeed='500' data-speed='500' data-start='1450'
                                                            data-easing='Power2.easeInOut' data-splitin='none'
                                                            data-splitout='none' data-elementdelay='0.1'
                                                            data-endelementdelay='0.1'
                                                            style='z-index:4; white-space:nowrap;'>
                                                            Get 40% OFF on selected items.</div>
                                                        <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500'
                                                            data-speed='500' data-start='1500'
                                                            data-easing='Linear.easeNone' data-splitin='none'
                                                            data-splitout='none' data-elementdelay='0.1'
                                                            data-endelementdelay='0.1'
                                                            style='z-index:4; white-space:nowrap;'>
                                                            <a href="{% url 'contact_us' %}" class="buy-btn">Book
                                                                Appointment</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                                    data-thumb="{% static 'images/slide-img2.jpg' %}"><img
                                        src="{% static 'images/slide-img2.jpg' %}" data-bgfit='cover'
                                        data-bgrepeat='no-repeat' alt="banner" />
                                    <div class="container">
                                        <div class="content_slideshow">
                                            <div class="row">
                                                <div>
                                                    <div class="info">
                                                        <div class='tp-caption ExtraLargeTitle sft  tp-resizeme '
                                                            data-endspeed='500' data-speed='500' data-start='1100'
                                                            data-easing='Linear.easeNone' data-splitin='none'
                                                            data-splitout='none' data-elementdelay='0.1'
                                                            data-endelementdelay='0.1'
                                                            style='z-index:2; white-space:nowrap;'><span>Top Brands
                                                                2018</span> </div>
                                                        <div class='tp-caption LargeTitle sfl  tp-resizeme '
                                                            data-endspeed='500' data-speed='500' data-start='1300'
                                                            data-easing='Linear.easeNone' data-splitin='none'
                                                            data-splitout='none' data-elementdelay='0.1'
                                                            data-endelementdelay='0.1'
                                                            style='z-index:3; white-space:nowrap;'>
                                                            <span
                                                                style="font-weight:normal; display:block">Modern-classic</span>
                                                            Decorative
                                                        </div>
                                                        <div class='tp-caption Title sft  tp-resizeme '
                                                            data-endspeed='500' data-speed='500' data-start='1450'
                                                            data-easing='Power2.easeInOut' data-splitin='none'
                                                            data-splitout='none' data-elementdelay='0.1'
                                                            data-endelementdelay='0.1'
                                                            style='z-index:4; white-space:nowrap;'>
                                                            Get 40% OFF on selected items.</div>
                                                        <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500'
                                                            data-speed='500' data-start='1500'
                                                            data-easing='Linear.easeNone' data-splitin='none'
                                                            data-splitout='none' data-elementdelay='0.1'
                                                            data-endelementdelay='0.1'
                                                            style='z-index:4; white-space:nowrap;'>
                                                            <a href="{% url 'contact_us' %}" class="buy-btn">Book
                                                                Appointment</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Category slider Start-->
    <div class="section-filter" style="margin-top: 50px;">
        <div class="b-filter__inner bg-grey container">
            <h2>Find your right car</h2>
            <form class="b-filter" action="{% url 'search' %}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <select class="selectpicker" data-width="100%" name="category">
                            <option value="">Select Make</option>
                            {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="q" placeholder="Model / Keyword"
                            style="height: 45px; border-radius: 0;">
                    </div>
                    <div class="col-sm-3">
                        <select class="selectpicker" data-width="100%" name="status">
                            <option value="">Select Car Status</option>
                            {% for status_val, status_label in STATUS_CHOICES %}
                            <option value="{{ status_val }}">{{ status_label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="selectpicker" data-width="100%" name="model_year">
                            <option value="">Select Model Year</option>
                            {% for year in model_years %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-12">
                        <div class="b-filter__btns">
                            <button class="btn btn-lg btn-primary" type="submit" style="width: 100%;">SEARCH
                                VEHICLE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!--Category silder End-->

    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> <a href="{% url 'car_inventory' %}"> <img
                            src="{% static 'images/speakers.png' %}" alt="promotion-banner1"> </a> </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> <a href="{% url 'grid' %}"> <img
                            src="{% static 'images/schedule.png' %}" alt="promotion-banner2"> </a> </div>
            </div>
        </div>
    </div>

    <!-- best Pro Slider -->



    <br>

    <!-- best Pro Slider -->
    <section class=" wow bounceInUp animated">
        <div class="best-pro slider-items-products container">
            <div class="new_title">
                <h2>Best Seller Cars</h2>
            </div>
            <div id="best-seller" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4 products-grid">
                    {% for car in cars %}
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="{% url 'car_detail' car.id %}" class="product-image">
                                        {% if car.image %}
                                        <img src="{{ car.image.url }}" alt="{{ car.title }}">
                                        {% else %}
                                        <img src="{% static 'products-images/p1.jpg' %}" alt="Default Image">
                                        {% endif %}
                                    </a>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="add_cart">
                                                <button class="button btn-cart" type="button" title="Buy Now"
                                                    onclick="window.location='{% url 'car_checkout' car.id %}'"></button>
                                            </div>
                                            <div class="product-detail-bnt"><a href="{% url 'car_detail' car.id %}"
                                                    class="button detail-bnt"><span>Quick View</span></a></div>
                                            <div class="actions"><span class="add-to-links"><a
                                                        href="{% url 'wishlist' %}" class="link-wishlist"
                                                        title="Add to Wishlist"><span>Add to Wishlist</span></a> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="{% url 'car_detail' car.id %}">{{ car.title }}</a>
                                    </div>
                                    <div class="item-content">
                                        <div class="item-price">
                                            <div class="price-box">
                                                <span class="regular-price"> <span class="price">${{ car.price }}</span></span>
                                                {% if car.old_price %}
                                                <p class="old-price"> <span class="price-label">Regular Price:</span>
                                                    <span class="price">${{ car.old_price }}</span>
                                                </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="other-info">
                                            <div class="col-km"><i class="fa fa-tachometer"></i> {{ car.mileage }}km
                                            </div>
                                            <div class="col-engine"><i class="fa fa-gear"></i> {{ car.transmission }}
                                            </div>
                                            <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ car.model_year }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Logo Brand Block -->
    <div class="brand-logo wow bounceInUp animated">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="brand-logo-slider-container">
                        <div id="brand-logo-slider" class="owl-carousel owl-theme">
                            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}"
                                        alt="Brand Logo 1"></a></div>
                            <div class="item"><a href="#"><img src="{% static 'images/b-logo2.png' %}"
                                        alt="Brand Logo 2"></a></div>
                            <div class="item"><a href="#"><img src="{% static 'images/b-logo3.png' %}"
                                        alt="Brand Logo 3"></a></div>
                            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}"
                                        alt="Brand Logo 4"></a></div>
                            <div class="item"><a href="#"><img src="{% static 'images/b-logo5.png' %}"
                                        alt="Brand Logo 5"></a></div>
                            <div class="item"><a href="#"><img src="{% static 'images/b-logo6.png' %}"
                                        alt="Brand Logo 6"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    jQuery(document).ready(function () {
        jQuery('#rev_slider_4').show().revolution({
            dottedOverlay: 'none',
            delay: 5000,
            startwidth: 1170,
            startheight: 650,

            hideThumbs: 200,
            thumbWidth: 200,
            thumbHeight: 50,
            thumbAmount: 2,

            navigationType: 'thumb',
            navigationArrows: 'solo',
            navigationStyle: 'round',

            touchenabled: 'on',
            onHoverStop: 'on',

            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,

            spinner: 'spinner0',
            keyboardNavigation: 'off',

            navigationHAlign: 'center',
            navigationVAlign: 'bottom',
            navigationHOffset: 0,
            navigationVOffset: 20,

            soloArrowLeftHalign: 'left',
            soloArrowLeftValign: 'center',
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,

            soloArrowRightHalign: 'right',
            soloArrowRightValign: 'center',
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,

            shadow: 0,
            fullWidth: 'on',
            fullScreen: 'off',

            stopLoop: 'off',
            stopAfterLoops: -1,
            stopAtSlide: -1,

            shuffle: 'off',

            autoHeight: 'off',
            forceFullWidth: 'on',
            fullScreenAlignForce: 'off',
            minFullScreenHeight: 0,
            hideNavDelayOnMobile: 1500,

            hideThumbsOnMobile: 'off',
            hideBulletsOnMobile: 'off',
            hideArrowsOnMobile: 'off',
            hideThumbsUnderResolution: 0,

            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            fullScreenOffsetContainer: ''
        });
    });
</script>
{% endblock %}
