{% extends 'base.html' %}
{% load static %}

{% block title %}Car List - Harrier Car Store{% endblock %}

{% block content %}
<div class="page-heading">
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a href="{% url 'index' %}" title="Go to Home Page">Home</a> <span>&rsaquo; </span>
            </li>
            <li class="category1599"> <a href="{% url 'car_inventory' %}" title="">New Car</a> <span>&rsaquo; </span>
            </li>
            <li class="category1600"> <a href="{% url 'car_inventory' %}" title="">Audi</a> <span>&rsaquo; </span> </li>
            <li class="category1601"> <strong>Sedans</strong> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-title">
    <h2>Car Listing</h2>
  </div>
</div>

<section class="main-container col2-left-layout bounceInUp animated">
  <div class="container">
    <div class="row">
      <div class="col-main col-sm-9 col-sm-push-3 product-grid">
        <div class="pro-coloumn">
          <article class="col-main">
            <div class="toolbar">
              <div class="sorter">
                <div class="view-mode">
                  <a href="{% url 'grid' %}" title="Grid" class="button-grid">&nbsp;</a>
                  <span title="list" class="button button-active button-list">&nbsp;</span>
                </div>
              </div>
              <!-- Toolbar sort/pager here -->
            </div>
            <div class="category-products">
              <ol class="products-list" id="products-list">
                {% for car in cars %}
                <li class="item {% if forloop.first %}first{% endif %}">
                  <div class="product-image">
                    <a href="{% url 'car_detail' car.id %}" title="{{ car.title }}">
                      <img class="small-image" src="{{ car.image.url }}" alt="{{ car.title }}">
                    </a>
                  </div>
                  <div class="product-shop">
                    <h2 class="product-name"><a href="{% url 'car_detail' car.id %}" title="{{ car.title }}">{{ car.title }}</a></h2>
                    <div class="desc std">
                      <p>{{ car.description|truncatewords:30 }}</p>
                    </div>
                    <div class="price-box">
                      {% if car.old_price %}
                      <p class="old-price"> <span class="price-label"></span> <span class="price"> ${{ car.old_price }}
                        </span> </p>
                      {% endif %}
                      <p class="special-price"> <span class="price-label"></span> <span class="price"> ${{ car.price }}
                        </span> </p>
                    </div>
                    <div class="actions">
                      <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to
                          Cart</span></button>
                      <span class="add-to-links">
                        <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'wishlist' %}"><span>Add to
                            Wishlist</span></a>
                        <a title="Add to Compare" class="button link-compare" href="{% url 'compare' %}"><span>Add to
                            Compare</span></a>
                      </span>
                    </div>
                  </div>
                </li>
                {% empty %}
                <li>No cars found.</li>
                {% endfor %}
              </ol>
            </div>
          </article>
        </div>
      </div>
      <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
        {% include 'includes/_sidebar.html' %}
      </aside>
    </div>
  </div>
</section>
{% endblock %}
