{% extends 'base.html' %}
{% load static %}

{% block title %}My Wishlist - Harrier Car Store{% endblock %}

{% block content %}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>My Wishlist</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated">
                <div class="my-account">
                    <div class="my-wishlist">
                        <form id="wishlist-view-form" action="#" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                                <div class="table-responsive">
                                    <table class="clean-table linearize-table data-table table-striped"
                                        id="wishlist-table">
                                        <thead>
                                            <tr class="first last">
                                                <th class="customer-wishlist-item-image"></th>
                                                <th class="customer-wishlist-item-info"></th>
                                                <th class="customer-wishlist-item-quantity">Quantity</th>
                                                <th class="customer-wishlist-item-price">Price</th>
                                                <th class="customer-wishlist-item-cart"></th>
                                                <th class="customer-wishlist-item-remove"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for car in cars %}
                                            <tr class="odd">
                                                <td class="wishlist-cell0 customer-wishlist-item-image">
                                                    <a class="product-image" href="{% url 'car_detail' car.id %}"
                                                        title="{{ car.title }}">
                                                        {% if car.image %}
                                                        <img src="{{ car.image.url }}" width="80" height="80"
                                                            alt="{{ car.title }}">
                                                        {% else %}
                                                        <img src="{% static 'products-images/p1.jpg' %}" width="80"
                                                            height="80" alt="{{ car.title }}">
                                                        {% endif %}
                                                    </a>
                                                </td>
                                                <td class="wishlist-cell1 customer-wishlist-item-info">
                                                    <h3 class="product-name"><a href="{% url 'car_detail' car.id %}"
                                                            title="{{ car.title }}">{{ car.title }}</a></h3>
                                                    <div class="description std">
                                                        <div class="inner">{{ car.description|truncatewords:20 }}</div>
                                                    </div>
                                                </td>
                                                <td class="wishlist-cell2 customer-wishlist-item-quantity"
                                                    data-rwd-label="Quantity">
                                                    1
                                                </td>
                                                <td class="wishlist-cell3 customer-wishlist-item-price"
                                                    data-rwd-label="Price">
                                                    <div class="price-box"> <span class="regular-price"> <span
                                                                class="price">${{ car.price }}</span> </span>
                                                    </div>
                                                </td>
                                                <td class="wishlist-cell4 customer-wishlist-item-cart">
                                                    <a href="{% url 'car_checkout' car.id %}" class="button btn-cart"
                                                        title="Buy Now"><span>Buy
                                                            Now</span></a>
                                                </td>
                                                <td class="wishlist-cell5 customer-wishlist-item-remove last">
                                                    <a href="{% url 'toggle_wishlist' car.id %}" title="Remove item"
                                                        class="remove-item"><span><span></span></span></a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            {% for acc in accessories %}
                                            <tr class="even">
                                                <td class="wishlist-cell0 customer-wishlist-item-image">
                                                    <a class="product-image" href="{% url 'accessory_detail' acc.id %}"
                                                        title="{{ acc.title }}">
                                                        {% if acc.image %}
                                                        <img src="{{ acc.image.url }}" width="80" height="80"
                                                            alt="{{ acc.title }}">
                                                        {% else %}
                                                        <img src="{% static 'products-images/p9.jpg' %}" width="80"
                                                            height="80" alt="{{ acc.title }}">
                                                        {% endif %}
                                                    </a>
                                                </td>
                                                <td class="wishlist-cell1 customer-wishlist-item-info">
                                                    <h3 class="product-name"><a
                                                            href="{% url 'accessory_detail' acc.id %}"
                                                            title="{{ acc.title }}">{{ acc.title }}</a></h3>
                                                    <div class="description std">
                                                        <div class="inner">Premium car accessory for your vehicle
                                                            enhancement.</div>
                                                    </div>
                                                </td>
                                                <td class="wishlist-cell2 customer-wishlist-item-quantity"
                                                    data-rwd-label="Quantity">
                                                    1
                                                </td>
                                                <td class="wishlist-cell3 customer-wishlist-item-price"
                                                    data-rwd-label="Price">
                                                    <div class="price-box"> <span class="regular-price"> <span
                                                                class="price">${{ acc.price }}</span> </span>
                                                    </div>
                                                </td>
                                                <td class="wishlist-cell4 customer-wishlist-item-cart">
                                                    <a href="{% url 'add_to_cart' acc.id %}" class="button btn-cart"
                                                        title="Add to Cart"><span>Add
                                                            to Cart</span></a>
                                                </td>
                                                <td class="wishlist-cell5 customer-wishlist-item-remove last">
                                                    <a href="{% url 'toggle_wishlist_accessory' acc.id %}"
                                                        title="Remove item"
                                                        class="remove-item"><span><span></span></span></a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            {% if not cars and not accessories %}
                                            <tr>
                                                <td colspan="6" style="text-align: center; padding: 20px;">Your wishlist
                                                    is empty.</td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="buttons-set buttons-set2">
                                    <button type="button" title="Add All to Cart" class="button btn-add"
                                        onclick="window.location='{% url 'wishlist_add_all_to_cart' %}';"><span>Add All
                                            to
                                            Cart</span></button>
                                    <button type="submit" name="do" title="Update Wishlist"
                                        class="button btn-update"><span>Update
                                            Wishlist</span></button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
            <aside class="col-right sidebar col-sm-3 col-xs-12 wow bounceInUp animated">
                <div class="block block-account">
                    <div class="block-title"> My Account </div>
                    <div class="block-content">
                        <ul>
                            <li><a href="{% url 'dashboard' %}"><span> Account Dashboard</span></a></li>
                            <li class="current"><a>My Wishlist</a></li>
                            <li><a href="{% url 'logout' %}"><span> Logout</span></a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock %}